[submodule "hakoniwa-pdu-endpoint"]
	path = hakoniwa-pdu-endpoint
	url = https://github.com/hakoniwalab/hakoniwa-pdu-endpoint.git
[submodule "hakoniwa-pdu-registry"]
	path = hakoniwa-pdu-registry
	url = https://github.com/hakoniwalab/hakoniwa-pdu-registry.git
