[submodule "hakoniwa-pdu-endpoint"]
	path = hakoniwa-pdu-endpoint
	url = https://github.com/hakoniwalab/hakoniwa-pdu-endpoint.git
[submodule "hakoniwa-ros2pdu"]
	path = hakoniwa-ros2pdu
	url = https://github.com/toppers/hakoniwa-ros2pdu.git
